{% extends 'base_not_authorise.html' %}
{% block auth_body %}
    <div class="auth">
        <div style="margin: 5%;">
            <form method="POST">
                <legend>Авторизация</legend>
                <div class="mb-3" style="padding-top: 3%;">
                  <label for="exampleInputEmail1" class="form-label">Логин</label>
                  <input class="form-control" name="login">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Пароль</label>
                  <input type="password" class="form-control" name="password">
                </div>
                  <div style="padding-top: 10%; ">
                    <button type="submit" class="btn btn-primary">Войти</button>
                  </div>
              </form>
        </div>      
    </div>
{% endblock %}