{% extends 'basic.html' %} 
{% block nav %}
<ul>
  <li>
    <a href="#">Исследовать</a>
  </li>
  <li>
    <a href="#">Журнал</a>
  </li>
  <li>
    <div class="dropdown">
      <a class="dropdown-toggl" role="button" data-bs-toggle="dropdown" href="#">{{user}}</a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="{{url_for('index.profile', username=g.user['login'])}}">Профиль</a></li>
        <li><a class="dropdown-item" href="{{url_for('index.trainings', username=g.user['login'])}}">Тренировки</a></li>
        <li><a class="dropdown-item" href="{{url_for('index.user_settings', username=g.user['login'])}}">Настройки</a></li>
        <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Выйти</a></li>
      </ul>
    </div>
</ul>
{% endblock %}

{% block body %}
  {% block training_body %}
  {% endblock %} 
{% endblock %}
