{% extends 'base_authorise.html' %}

{% block training_body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Время</th>
                <th scope="col">Расстояние</th>
            </tr>    
        </thead>
        <tbody>
        {% for training in trainings %}
        <tr onclick="window.location.href='{{ url_for('index.training', username=g.user['login'], training_id=training.training_id) }}';">
            
                <th scope="row">
                {{training.training_id}}
                </th>
                <td>{{training.training_id}}</td>
                <td>Otto</td>
                <td>@mdo</td>   
        </tr>
            
        {% endfor %}    
        </tbody> 
    </table>
{% endblock %} 