{% extends 'base_authorise.html' %}

{% block training_body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Расстояние</th>
            </tr>    
        </thead>
        <tbody>
        {% for training in trainings %}
        <tr onclick="window.location.href='{{ url_for('index.training', username=g.user['login'], training_id=training.id) }}';">
            
                <th scope="row">
                {{training.date.date()}}
                </th>
                <td>{{training.tr_time}}</td>
                <td>{{training.dist}}</td>
        </tr>
            
        {% endfor %}    
        </tbody> 
    </table>
{% endblock %} 