{% extends 'base_authorise.html' %}

{%block title%}
  
  {{tr.speed_plot.css | safe}}
  {{tr.speed_plot.script | safe}}
  {{tr.speed_plot.res | safe}}
{% endblock %}

{% block training_body %}
<div style="background-color: white; width: 80%; height: 80%; border-radius: 20px; top: 45%; left: 50%; transform: translate(-50%, -50%); position: relative;">
    <div style="padding: 2%; width: 100%; height: 100%; display: flex;"  >
      <div style="width: 70%; height: 100%; border-radius: 10px;"> 
        {{ map_html | safe }}
        <script type="text/javascript" src="{{url_for('static', filename='mapPoint.js')}}"></script>
      </div>
      <div style="height: 100%; margin-right: auto; margin-left: 30px;">
        <h3>Данные о тренировке</h3>
        <h4>{{tr.format_date}} {{tr.training_date.time()}}</h4>
        <h5>Расстояние {{tr.dist}}</h5>
        <h5>Время {{tr.time}}</h5>
        <h5>Средняя скорость: {{tr.avg_speed}} км/ч</h5>
        <h5>Средняя скорость: {{tr.avg_speed_knot}} узлов/ч</h5>
        <div class="bk-root" style="max-width: 350px; max-height: 350px;">
          {{tr.speed_plot.div | safe}} 
        </div>
        <!--
        <button class="btn-primary" onclick="showUserPoint([50.0, 60.0])">addPoint</button>
        <button class="btn-primary" onclick="showUserPoint(null)">Null</button>
        -->
      </div>
    </div>
    
</div>
{% endblock %} 